<h1>Consumibles</h1>
<h2>En esta sección encontrarás información sobre los consumibles disponibles para los corredores.</h2>

<section class="consumibles-section">
  <div class="cards">
    {{#each consu}}
      <div class="consu-card">
        <img src="{{img}}" alt="Foto de {{nombre}}" />
        <h4>{{nombre}}</h4>
        <p class="text">{{descripcion}}</p>
        <span class="card-price"> L {{precio}}</span>
      <button class="card-btn">Agregar al carrito</button>
      </div>
    {{/each}}
  </div>
</section>