<h1>Productos</h1>
<h2>Consumibles y Accesorios para corredores y ciclistas</h2>

<section class="consumibles-section">
  <div class="productos-container">
    {{#each productos}}
    <div class="producto-card">
      <img src="{{this.imagen}}" alt="{{this.nombre}}">
      <h3>{{this.nombre}}</h3>
      <p>{{this.descripcion}}</p>
      <p class="precio">Precio: L.{{this.precio}}</p>
    </div>
    {{/each}}
  </div>
</section>